@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

body {
  font-family: Roboto, Arial, sans-serif;
  color: $base-font-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 16px;
  line-height: 19px;
}

@media screen and (max-width: 320px) {
  h2 {
    font-size: 12px;
    line-height: 14px;
  }
}

p {
  font-size: 12px;
  line-height: 14px;
}

@media screen and (max-width: 320px) {
  p {
    font-size: 11px;
    line-height: 13px;
  }
}
