$base-font-color: #414141;
$base-text-color: #9e9e9e;

@mixin font-size-main {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

@mixin font-size-secondary {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}

@mixin font-size-secondary-mobile {
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
}
